<footer class="footer">
  <div class="container footer-container">
    <div class="footer-logo-nav-wrapper">
      <div class="footer-logo-wrapper">
        <div class="footer-img-wrapper">
          <picture>
            <source
              srcset="
                ./images/footer/footer_mob.webp    1x,
                ./images/footer/footer_mob@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/footer/footer_tab_desktop.webp    1x,
                ./images/footer/footer_tab_desktop@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/footer/footer_tab_desktop.webp"
              alt="Broccoli"
              width="349"
            />
          </picture>
        </div>
        <a href="./index.html" class="link footer-logo-link">
          <svg class="footer-logo-icon" width="16" height="16">
            <use href="./images/project-brain-waves-icons.svg#icon-logo"></use>
          </svg>
          <span class="footer-logo-text">Veggieboost</span>
        </a>
      </div>
      <nav>
        <ul class="list footer-navigation-list">
          <li>
            <a href="#howitworks" class="link footer-navigation-link"
              >How It Works</a
            >
          </li>
          <li>
            <a href="#vegetables" class="link footer-navigation-link"
              >Vegetables</a
            >
          </li>
          <li>
            <a href="#contacts" class="link footer-navigation-link">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
    <div>
      <ul class="list footer-social-list">
        <li class="footer-social-item">
          <a
            href="https://facebook.com/"
            class="link footer-social-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon" width="24" height="24">
              <use
                href="./images/project-brain-waves-icons.svg#icon-facebook"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.instagram.com/"
            class="link footer-social-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon" width="24" height="24">
              <use
                href="./images/project-brain-waves-icons.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.youtube.com/"
            class="link footer-social-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon" width="24" height="24">
              <use
                href="./images/project-brain-waves-icons.svg#icon-youtube"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="footer-address">
        <ul class="list footer-address-list">
          <li class="footer-address-item">
            <a href="tel:+380684439426" class="link footer-address-link">
              +380 (68) 443-94-26
            </a>
          </li>
          <li class="footer-address-item">
            1678 S. Pioneer Road Salt Lake City <br />
            UT 84104
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
