<header class="header">
  <div class="container page-header">
    <nav class="header-link">
      <ul class="menu-header list">
        <li class="item"><a class="link" href="#howitworks">How It Works</a></li>
        <li class="item">
          <a class="link" href="#vegetables">Vegetables</a>
        </li>
        <li class="item"><a class="link" href="#contacts">Contacts</a></li>
      </ul>
      <a class="logo-header link" href="./index.html">
        <svg class="logo-icon" width="16" height="16">
          <use href="./images/header/sprite.svg#icon-vector"></use>
        </svg>
        <span class="logo-text">VEGGIEBOOST</span></a
      >
    </nav>


    <button type="button" class="menu-icon logo-header">
    <button type="button" class="menu-icon logo-header pointer js-open-menu">
      <svg class="logo-icon" width="24" height="24">
        <use href="./images/header/sprite.svg#icon-gg_menu-left"></use>
      </svg>
    </button>

    <button type="button" class="shopping-cart-icon pointer" data-modal-menu-open>
      <svg class="shopping-cart" width="20" height="20">
        <use href="./images/header/sprite.svg#icon-shopping-cart"></use>
      </svg>
    </button>
  </div>
</header>
