<div class="menu js-menu-container">
  <div class="header-menu">
    <a href="" class="header-link"
      ><svg class="logo-icon" width="16" height="16">
        <use href="./images/header/sprite.svg#icon-vector"></use>
      </svg>
      <p class="header-logo">Veggieboost</p></a
    >
    <button type="button" class="menu-close js-close-menu">
      <svg class="menu-close-icon logo-icon" width="24" height="24">
        <use href="./images/header/sprite.svg#icon-x"></use>
      </svg>
    </button>
  </div>
  <div class="menu-navigation">
    <ul class="menu-list">
      <li class="menu-list-item">
        <a href="#howitworks" class="menu-link">
          <p class="list-item-text">How It Works</p>
        </a>
      </li>
      <li class="menu-list-item">
        <a href="#vegetables" class="menu-link">
          <p class="list-item-text">Vegetables</p>
        </a>
      </li>
      <li class="menu-list-item">
        <a href="#contacts" class="menu-link">
          <p class="list-item-text">Contacts</p>
        </a>
      </li>
      <li>
        <button type="button" class="menu-btn" data-menu-open>
          <svg class="menu-list-icon" width="20" height="20">
            <use href="./images/header/sprite.svg#icon-shopping-cart"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</div>

