<div class="menu is-hidden" data-menu>
  <div class="header-menu">
    <a href="" class="header-link"
      ><svg class="logo-icon" width="16" height="16">
        <use href="../images/header/sprite.svg#icon-vector"></use>
      </svg>
      <p class="header-logo">Veggieboost</p></a
    >
    <button type="button" class="menu-close" data-menu-close>
      <svg class="menu-close-icon logo-icon" width="24" height="24">
        <use href="../images/header/sprite.svg#icon-x"></use>
      </svg>
    </button>
  </div>
  <div class="menu-navigation">
    <ul class="menu-list">
      <li class="menu-list-item">
        <a href="#" class="menu-link">
          <p class="list-item-text">How It Works</p>
        </a>
      </li>
      <li class="menu-list-item">
        <a href="#" class="menu-link">
          <p class="list-item-text">Vegetables</p>
        </a>
      </li>
      <li class="menu-list-item">
        <a href="#" class="menu-link">
          <p class="list-item-text">Contacts</p>
        </a>
      </li>
      <li>
        <a href="" class="menu-link"
          ><svg width="20" height="20">
            <use></use></svg
        ></a>
      </li>
    </ul>
  </div>
</div>
