<section class="vegetables">
    <div class="container">
        <h2 class="section-title" id="vegetables">organic vegetables</h2>
        <p class="section-text">Our organic vegetables are hand-picked from local farms and delivered straight to your
            doorstep,
            ensuring that you get
            the freshest and most nutritious produce possible.
        </p>
        <ul class="goods">
            <li class="goods-item">
                <h3 class="goods-title">Carrot</h3>
                <p class="goods-text">Plant</p>
                <picture>
                    <source
                        srcset="./images/s3_vegetables/s3-tab-desktop/1_carrot_tab_desktop.webp 1x, ./images/s3_vegetables/s3-tab-desktop/1_carrot_tab_desktop@2x.webp 2x"
                        media="(min-width:768px)">
                    <img class="goods-img"
                        srcset="./images/s3_vegetables/s3-mob/1_carrot_mob.webp 1x, ./images/s3_vegetables/s3-mob/1_carrot_mob@2x.webp 2x"
                        src="./images/s3_vegetables/s3-mob/1_carrot_mob.webp" alt="Picture of Carrot">
                </picture>
                <p class="goods-price">100 UAH / kg</p>
            </li>
            <li class="goods-item">
                <h3 class="goods-title">Brussel sprouts</h3>
                <p class="goods-text">Plant</p>
                <picture>
                    <source
                        srcset="./images/s3_vegetables/s3-tab-desktop/2_brussel_tab_desktop.webp 1x, ./images/s3_vegetables/s3-tab-desktop/2_brussel_tab_desktop@2x.webp 2x"
                        media="(min-width:768px)">
                    <img class="goods-img"
                        srcset="./images/s3_vegetables/s3-mob/2_brussel_mob.webp 1x, ./images/s3_vegetables/s3-mob/2_brussel_mob@2x.webp 2x"
                        src="./images/s3_vegetables/s3-mob/2_brussel_mob.webp" alt="Picture of Brussel sprouts">
                </picture>
                <p class="goods-price">80 UAH / kg</p>
            </li>
            <li class="goods-item">
                <h3 class="goods-title">Tomato</h3>
                <p class="goods-text">Plant</p>
                <picture>
                    <source
                        srcset="./images/s3_vegetables/s3-tab-desktop/3_tomato_tab_desktop.webp 1x, ./images/s3_vegetables/s3-tab-desktop/3_tomato_tab_desktop@2x.webp 2x"
                        media="(min-width:768px)">
                    <img class="goods-img"
                        srcset="./images/s3_vegetables/s3-mob/3_tomato_mob.webp 1x, ./images/s3_vegetables/s3-mob/3_tomato_mob@2x.webp 2x"
                        src="./images/s3_vegetables/s3-mob/3_tomato_mob.webp" alt="Picture of Tomato">
                </picture>
                <p class="goods-price">40 UAH / kg</p>
            </li>
            <li class="goods-item">
                <h3 class="goods-title">Eggplant</h3>
                <p class="goods-text">Plant</p>
                <picture>
                    <source
                        srcset="./images/s3_vegetables/s3-tab-desktop/4_eggplant_tab_desktop.webp 1x, ./images/s3_vegetables/s3-tab-desktop/4_eggplant_tab_desktop@2x.webp 2x"
                        media="(min-width:768px)">
                    <img class="goods-img"
                        srcset="./images/s3_vegetables/s3-mob/4_eggplant_mob.webp 1x, ./images/s3_vegetables/s3-mob/4_eggplant_mob@2x.webp 2x"
                        src="./images/s3_vegetables/s3-mob/4_eggplant_mob.webp" alt="Picture of Eggplant">
                </picture>
                <p class="goods-price">60 UAH / kg</p>
            </li>
            <li class="goods-item">
                <h3 class="goods-title">Sweet potatoes</h3>
                <p class="goods-text">Plant</p>
                <picture>
                    <source
                        srcset="./images/s3_vegetables/s3-tab-desktop/5_potato_tab_desktop.webp 1x, ./images/s3_vegetables/s3-tab-desktop/5_potato_tab_desktop@2x.webp 2x"
                        media="(min-width:768px)">
                    <img class="goods-img"
                        srcset="./images/s3_vegetables/s3-mob/5_potato_mob.webp 1x, ./images/s3_vegetables/s3-mob/5_potato_mob@2x.webp 2x"
                        src="./images/s3_vegetables/s3-mob/5_potato_mob.webp" alt="Picture of Sweet potatoes">
                </picture>
                <p class="goods-price">80 UAH / kg</p>
            </li>
            <li class="goods-item">
                <h3 class="goods-title">Leek</h3>
                <p class="goods-text">Plant</p>
                <picture>
                    <source
                        srcset="./images/s3_vegetables/s3-tab-desktop/6_leek_tab_desktop.webp 1x, ./images/s3_vegetables/s3-tab-desktop/6_leek_tab_desktop@2x.webp 2x"
                        media="(min-width:768px)">
                    <img class="goods-img"
                        srcset="./images/s3_vegetables/s3-mob/6_leek_mob.webp 1x, ./images/s3_vegetables/s3-mob/6_leek_mob@2x.webp 2x"
                        src="./images/s3_vegetables/s3-mob/6_leek_mob.webp" alt="Picture of Leek">
                </picture>
                <p class="goods-price">50 UAH / kg</p>
            </li>
            <li class="goods-item">
                <h3 class="goods-title">Mushrooms</h3>
                <p class="goods-text">Plant</p>
                <picture>
                    <source
                        srcset="./images/s3_vegetables/s3-tab-desktop/7_mushroom_tab_desktop.webp 1x, ./images/s3_vegetables/s3-tab-desktop/7_mushroom_tab_desktop@2x.webp 2x"
                        media="(min-width:768px)">
                    <img class="goods-img"
                        srcset="./images/s3_vegetables/s3-mob/7_mushroom_mob.webp 1x, ./images/s3_vegetables/s3-mob/7_mushroom_mob@2x.webp 2x"
                        src="./images/s3_vegetables/s3-mob/7_mushroom_mob.webp" alt="Picture of Mushrooms">
                </picture>
                <p class="goods-price">40 UAH / kg</p>
            </li>
            <li class="goods-item">
                <h3 class="goods-title">Corn</h3>
                <p class="goods-text">Plant</p>
                <picture>
                    <source
                        srcset="./images/s3_vegetables/s3-tab-desktop/8_corn_tab_desktop.webp 1x, ./images/s3_vegetables/s3-tab-desktop/8_corn_tab_desktop@2x.webp 2x"
                        media="(min-width:768px)">
                    <img class="goods-img"
                        srcset="./images/s3_vegetables/s3-mob/8_corn_mob.webp 1x, ./images/s3_vegetables/s3-mob/8_corn_mob@2x.webp 2x"
                        src="./images/s3_vegetables/s3-mob/8_corn_mob.webp" alt="Picture of Corn">
                </picture>
                <p class="goods-price">60 UAH / kg</p>
            </li>
            <li class="goods-item goods-last-item">
                <h3 class="goods-title">Radish</h3>
                <p class="goods-text">Plant</p>
                <picture>
                    <source
                        srcset="./images/s3_vegetables/s3-tab-desktop/9_redish_desktop.webp 1x, ./images/s3_vegetables/s3-tab-desktop/9_redish_desktop@2x.webp 2x"
                        media="(min-width:768px)">
                    <img class="goods-img"
                        srcset="./images/s3_vegetables/s3-mob/8_corn_mob.webp 1x, ./images/s3_vegetables/s3-mob/8_corn_mob@2x.webp 2x"
                        src="./images/s3_vegetables/s3-mob/8_corn_mob.webp" alt="Picture of Corn">
                </picture>                
                <p class="goods-price">90 UAH / kg</p>
            </li>
        </ul>
        <button type="button" class="vegetables-button">
            <svg class="button-icon">
                <use href="./images/project-brain-waves-icons.svg#icon-vector"></use>
            </svg>
            <span class="button-text">order</span>
        </button>
    </div>
</section>