<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./css/we-will-call-you.css">
</head>
<body>
    <section class="section-fiwe">
        <div class="container">
            <h3 class="h3-section-five">FRESH HARVEST BOX HAS GOT YOU COVERED</h3>
            <div class="phone-send">
                <p class="p-section-five">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
                <form class="recall-form" name="phone-send-form">
                    <label for="user-tell" class="recall-form-label">
                        <input type="tel" class="input-phone-form"
                        placeholder="+380 ()"
                        name="recall-input-form"
                        id="user-tell"
                        pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
                        maxlength="13"
                        minlength="13">
                    </label>
                    <button class="recall-button" type="submit">Recall</button>
                </form>
            </div>
            <div class="bg-salad-girl">
                <img class="salad-girl-img" src="./images/salad-girl-mob.png" alt="salad-girl">
            </div>
        </div>
    </section>
</body>
</html>