.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.logo-icon {
  fill: var(--hero-green-tee);
}
.logo-header {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo-text {
  color: var(--primary-text-black);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.56px;
  text-transform: uppercase;

  margin-left: 8px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 17px;
  padding-bottom: 17px; */
  background-color: var(--white-color);

}
.menu-header,
.shopping-cart-icon {
  display: none;
}
.menu-icon,
.shopping-cart-icon {
  background: transparent;
  border: none;
  padding: 0;
  height: 24px;
}
.shopping-cart {
  stroke: var(--primary-text-black);
  fill: var(--white-color);
}

@media screen and (min-width: 768px) {
  .page-header {
    align-items: center;
  }
  .menu-icon {
    display: none;
  }
  .menu-header {
    display: flex;
    padding-left: 0;
  }
  .logo-header {
    margin-left: 86px;
  }
  .menu-header .link {
    color: #141414;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.56px;
  }
  .shopping-cart-icon {
    display: flex;
  }

  .menu-header .item:not(:last-child) {
    margin-right: 14px;
  }
}
.header-link {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .logo-header {
    margin-left: 308px;
  }
}
