.hero {
  max-width: 767px;
  padding-top: 48px;
  padding-bottom: 20px;
  background-color: #a1c487;
  background-size: cover;
}

.user-list {
  position: relative;
  display: flex;
  width: 129px;
  height: 44px;
}

.user-item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
}

.user-item:nth-child(2) {
  z-index: 2;
  left: 28px;
}

.user-item:nth-child(3) {
  z-index: 3;
  left: 57px;
}

.user-item:nth-child(4) {
  z-index: 4;
  left: 85px;
}

.user-item-wrap {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.user-item-count {
  display: block;
  color: #141414;
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.user-item-text {
  display: block;
  color: #141414;
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 8px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.32px;
}

.title-hero {
  display: block;
  text-align: start;
  margin: 14px auto;
  color: #fff;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 40px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.6px;
  text-transform: uppercase;
}

.title-hero-veg {
  font-style: italic;
}

.hero-text {
  color: #fff;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-family: DM Sans;
  line-height: 1.29;
  letter-spacing: -0.56px;
  margin-bottom: 20px;
}

.hero-btn {
  width: 68px;
  height: 68px;
  border-radius: 68px;
  background: #faf3e7;
  border: none;
  transform: rotate(-14deg);
  text-align: center;
  color: #fc8a11;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 8px;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #eaf7e5;
  color: #a1c487;
}

.image-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* .hero-image {
  margin: 0 auto 16px;
} */

.tag-wrap {
  display: flex;
  width: 100%;
  justify-content: end;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 4px;
  width: 169px;
}

.tag-item {
  padding: 7px 13px;
  border-radius: 1000px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 10px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.4px;
  text-transform: uppercase;
}

.tag-item:nth-child(1) {
  padding: 8px 14px;
  border: none;
  background: #f9f7f4;
  color: #141414;
}
