.hero {
  max-width: 767px;
  padding-top: 48px;
  padding-bottom: 20px;
  background-color: #a1c487;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.user-list {
  position: relative;
  display: flex;
  width: 129px;
  height: 44px;
}

.user-photo {
  width: 40px;
  height: 40px;
}

.user-item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
}

.user-item:nth-child(2) {
  z-index: 2;
  left: 28px;
}

.user-item:nth-child(3) {
  z-index: 3;
  left: 57px;
}

.user-item:nth-child(4) {
  z-index: 4;
  left: 85px;
}

.user-item-wrap {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.user-item-count {
  display: block;
  color: #141414;
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.user-item-text {
  display: block;
  color: #141414;
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 8px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.32px;
}

.title-hero {
  display: block;
  text-align: start;
  margin: 14px auto;
  color: #fff;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 40px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.6px;
  text-transform: uppercase;
}

.title-hero-veg {
  font-style: italic;
}

.hero-text {
  color: #fff;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-family: DM Sans;
  line-height: 1.29;
  letter-spacing: -0.56px;
  margin-bottom: 20px;
}

.hero-btn {
  width: 68px;
  height: 68px;
  border-radius: 68px;
  background: #faf3e7;
  border: none;
  transform: rotate(-14deg);
  text-align: center;
  color: #fc8a11;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 8px;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #eaf7e5;
  color: #a1c487;
}

.second-hero-wrap {
  position: relative;
  width: 100%;
  height: 304px;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 8px;
  transform: translateY(-3px);
}

.tag-list {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 4px;
  width: 169px;
}

.tag-item {
  padding: 7px 13px;
  border-radius: 1000px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 10px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.4px;
  text-transform: uppercase;
}

.tag-item:nth-child(1) {
  padding: 8px 14px;
  border: none;
  background: #f9f7f4;
  color: #141414;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero {
    max-width: 1279px;
    padding-top: 64px;
    padding-bottom: 32px;
  }

  .user-item-count {
    height: 20px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }

  .user-item-text {
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: -0.4px;
  }

  .title-hero {
    font-size: 54px;
    line-height: 1.19;
    letter-spacing: -2.16px;
    margin: 16px auto;
  }

  .hero-text {
    width: 490px;
    margin-bottom: 32px;
  }

  .hero-btn {
    width: 114px;
    height: 114px;
    border-radius: 114px;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.96px;
    margin-bottom: 16px;
  }

  .second-hero-wrap {
    height: 496px;
  }

  .hero-image {
    position: absolute;
    top: 0;
    left: 82px;
    transform: translateY(-8px);
  }

  .tag-list {
    gap: 8px 4px;
    width: 214px;
  }

  .tag-item {
    padding: 9px 19px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.48px;
  }

  .tag-item:nth-child(1) {
    padding: 10px 20px;
  }
}

@media screen and (min-width: 768px) {
  .user-list {
    width: 158px;
    height: 56px;
  }

  .user-photo {
    width: 50px;
    height: 50px;
  }

  .user-item {
    width: 54px;
    height: 54px;
  }

  .user-item:nth-child(2) {
    left: 34px;
  }

  .user-item:nth-child(3) {
    left: 69px;
  }

  .user-item:nth-child(4) {
    left: 104px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    width: 100%;
    padding-top: 132px;
    padding-bottom: 32px;
  }

  .user-list {
    width: 204px;
    height: 72px;
  }
  .user-photo {
    width: 66px;
    height: 66px;
  }

  .user-item {
    width: 70px;
    height: 70px;
  }

  .user-item:nth-child(2) {
    left: 44px;
  }

  .user-item:nth-child(3) {
    left: 89px;
  }

  .user-item:nth-child(4) {
    left: 134px;
  }

  .title-hero {
    width: 672px;
    font-size: 64px;
    line-height: 1.17;
    letter-spacing: -2.56px;
    margin: 16px 0;
  }

  .hero-text {
    width: 491px;
    margin-bottom: 32px;
  }

  .hero-btn {
    width: 132px;
    height: 132px;
    border-radius: 132px;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -1.12px;
    margin-bottom: 92px;
  }
}
