.menu {
  max-width: 375px;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.header-menu {
  height: 50px;
  background-color: #fff;
}
.header-menu-text {
}
.menu-main {
  background-color: #a1c487;
}
.menu-list {
}
.menu-list-item {
}
