.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.5);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.modal {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%) scale(1);
  border-radius: 20px;
  background-color: var(--white-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

/* =============================================HEADER */

.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  color: var(--primary-text-black);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-icon {
  width: 24px;
  height: 24px;
  stroke: currentColor;
}

.modal-title {
  margin-bottom: 40px;

  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -1.12px;
  text-transform: uppercase;
}

/* =============================================MODAL-FORM */
/* =============================================CHECK-FORM */
.modal-check-wrapper {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

.modal-form-check {
  position: relative;
  height: 119px;
  background-color: var(--bcg-section-purple);
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

.item-check {
  position: absolute;
  width: 16px;
  height: 16px;
  display: flex;
  border: 1.5px solid var(--hero-green-tee);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  right: 14px;
  top: 14px;
}

.icon-check {
  width: 6px;
  height: 6px;
}

.modal-product-input:checked+.check-product-label>.item-check {
  fill: var(--hero-green-tee);
}

.product-text-article {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.72px;
  margin-bottom: 2px;
}

.product-text-paragraph {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.modal-check-img {
  position: absolute;
}

/* ============================================INPUT-FORM */
.modal-inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 20px;
}

.modal-input-item {
  width: 100%;
  padding: 14px 24px;
  border: 1px solid rgba(20, 20, 20, 0.3);
  color: var(--primary-text-black);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.56px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-item::placeholder {
  color: rgba(20, 20, 20, 0.5);
}

.modal-input-item:focus,
.modal-input-item:not(:placeholder-shown) {
  border-color: var(--primary-text-black);
}

.modal-input {
  height: 46px;
  border-radius: 100px;
}

.modal-comment {
  height: 132px;
  border-radius: 20px;
  resize: none;
}

.modal-send-btn {
  border-radius: 100px;
  background-color: var(--btn-text-lambo);
  width: 92px;
  height: 42px;
  border: none;
  color: var(--white-color);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: var(--hero-green-tee);
}

/* ===================================ONLY MOBILE========= */
@media screen and (max-width: 767px) {
  .modal {
    max-width: 335px;
    width: 100%;
    padding: 20px 20px;
  }

  .modal-girl-img {
    display: none;
  }

  .modal-check-wrapper {
    flex-direction: column;
  }

  .modal-form-check {
    max-width: 295px;
  }

  .modal-check-img {
    right: 30px;
    bottom: 8px;
    width: 94px;
    height: 78px;
  }
}

/* ===================================TABLET========= */
@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
    padding: 40px 40px;
  }

  .modal-girl-img {
    position: absolute;
    border-radius: 20px;
    overflow: hidden;
    right: 0;
    bottom: 0;
  }

  .modal-close-btn {
    width: 28px;
    height: 28px;
  }

  .modal-close-icon {
    width: 28px;
    height: 28px;
  }

  .modal-title {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.6px;
  }

  .modal-form-check {
    width: 200px;
    height: 250px;
    padding-top: 40px;
  }

  .item-check {
    width: 20px;
    height: 20px;
  }

  .icon-check {
    width: 8px;
    height: 8px;
  }

  .modal-check-img {
    right: 14px;
    bottom: 14px;
    width: 172px;
    height: 142px;
  }

  .modal-inputs-wrapper {
    width: 360px;
  }

  .modal-input-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .modal-input {
    height: 48px;
  }

  .modal-comment {
    height: 145px;
  }

  .modal-send-btn {
    width: 114px;
    height: 48px;
  }
}

/* ===================================DESKTOP========= */
@media screen and (min-width: 1280px) {
  .modal {
    width: 891px;
  }

  .modal-girl-img {
    right: 7px;
  }

  .modal-check-wrapper {
    gap: 20px;
  }

  .modal-form-check {
    width: 257px;
    height: 308px;
  }

  .modal-check-img {
    width: 243px;
    height: 200px;
    right: 7px;
  }
}