* {
  box-sizing: border-box;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.container-modal {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 335px;
}

@media screen and (min-width: 768px) {
  .container-modal {
    max-width: 704px;
    padding: 0 40px;
  }

  .backdrop {
    background-image: url(../images/product/bk.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}

@media screen and (min-width: 1280px) {
  .container-modal {
    max-width: 891px;
  }

  .backdrop {
    background-image: url(../images/product/bk-girl.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}

/* HEADER */
.modal-header {
  position: absolute;
}
.modal-title {
  padding: 20px 0 40px 20px;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -1.12px;
  text-transform: uppercase;
}
.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border: none;
}
.modal-close-icon {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: none;
}

@media screen and (min-width: 768px) {
  .modal-title {
    padding: 40px 0 40px;
  }

  .modal-close {
    top: 40px;
    right: 40px;
  }
  .modal-close-icon {
    width: 28px;
    height: 28px;
  }
}
/* CHECK-BOX */

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.modal-check {
  gap: 12px;
  margin-bottom: 40px;
}

.modal-check-product {
  width: 295px;
  height: 119px;
  background-color: #faf3e7;
  border-radius: 20px;
  position: relative;
}

.item-check {
  display: inline-flex;
  border: 2px solid #a1c487;
  border-radius: 25%;
  align-items: center;
  justify-content: center;
  fill: transparent;
  position: absolute;
  right: 14px;
  top: 14px;
}

.modal-product-input:checked + .check-product-label > .item-check {
  background-color: #faf3e7;
  border: none;
  fill: #a1c487;
  border: 2px solid #a1c487;
  border-radius: 25%;
}
.product-text {
  padding: 20px 0 0 20px;
}
.product-text-article {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.72px;
}
.product-text-paragraph {
  margin-top: 2px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.product-img {
  position: absolute;
  top: 33px;
  right: 30px;
}

@media screen and (max-width: 376px) {
  .modal-check {
    display: flex;
    flex-direction: column;
  }

  .item-check {
    width: 16px;
    height: 16px;
  }

  .icon-check {
    width: 6px;
    height: 6px;
  }

  .product-img {
    position: absolute;
    top: 33px;
    right: 30px;
  }
}

@media screen and (min-width: 376px) {
  .modal-check {
    display: flex;
    flex-direction: column;
  }

  .item-check {
    width: 16px;
    height: 16px;
  }

  .icon-check {
    width: 6px;
    height: 6px;
  }

  .product-img {
    position: absolute;
    top: 33px;
    right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .modal-check-product {
    width: 200px;
    height: 250px;
  }

  .modal-check {
    display: flex;
    flex-direction: row;
  }

  .item-check {
    width: 20px;
    height: 20px;
  }

  .icon-check {
    width: 8px;
    height: 8px;
  }

  .product-text {
    padding: 40px 0 0 20px;
  }

  .product-img {
    position: absolute;
    top: 94px;
    right: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-check-product {
    width: 257px;
    height: 308px;
  }

  .product-text-article {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.96px;
  }

  .product-text-paragraph {
    margin-top: 8px;
  }

  .product-img {
    position: absolute;
    top: 94px;
    right: 7px;
  }
}

/* FORM */
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.modal-input {
  width: 100%;
  height: 46px;
  border-radius: 25px;
  padding: 14px 24px;
  border: 1px solid #1414144d;
  color: #14141480;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.modal-comment {
  width: 100%;
  height: 132px;
  border-radius: 25px;
  padding: 14px 24px;
  border: 1px solid #1414144d;
  color: #14141480;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.56px;
}
.send-button {
  border-radius: 100px;
  background: #fc8a11;
  width: 92px;
  height: 42px;
  padding: 12px 24px;
  border: none;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: capitalize;
}
@media screen and (max-width: 375px) and (min-width: 375px) {
  .modal-input {
    height: 46px;
  }
}

@media screen and (min-width: 768px) {
  .modal-form-input {
    width: 360px;
    margin-left: 40px;
  }
  .send-button {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-form-input {
    margin-left: 40px;
  }
}
