
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ol,ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
  
.link {
  text-decoration: none;
}
.container { 
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; 
}
