@import url('./fonts.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./now-it-works.css');
@import url('./vegetables.css');
@import url('./we-will-call-you.css');
@import url('./footer.css');
@import url('./modal-your-order.css');
@import url('./menu-berger.css');

