
.section-recall-container{
    /* max-width: 374px;
    padding-left: 20px;
    padding-right: 20px; */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
}
.h3-section-five{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #141414;
}
.p-section-five{
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #141414;
    text-align: center;

    padding-bottom: 40px;
}
.input-phone-form{
    width: 100%;
    height: 48px;
    border-radius: 100px;
    border: 1px solid #141414;
    position: relative;
    opacity: 0.30000001192092896;
    padding-left: 24px;
}
.recall-form{
    position: relative;
    width: 100%;
}
.input-phone-form::placeholder{
    font-weight: 400;
    line-height: 18px;
    color: #353535;
    font-size: 14px;
}
.recall-button{
    border-radius: 100px;
    background: #FC8A11;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    height: 100%;
    width: 105px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}
.salad-girl-img{
    padding-top: 31px;
}
.bg-salad-girl{
    margin-top: 40px;
    /* width: 295px; */
    height: 388px;
    border-radius: 40px;
    background: #FAF3E7;
    background-image: url(../images/BG_dots.png);
    background-repeat: no-repeat;
    background-position: 29px 0;
    max-width: 335px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@media screen and (min-width: 375px) and (max-width: 767px){  
    .salad-girl-img{
        /* width: 335px; */
        /* height: 357px; */
        /* content: url(./images/s4_girl_mob.webp); */
    }
    /* .section-recall-container{
        max-width: 375px;
    } */
    .p-section-five{
        width: 321px;
        margin: 0 auto;
    }
    .h3-section-five{
        width: 323px;
        margin: 0 auto;
    }
    .input-phone-form{
        width: 329px;
    }
    .recall-form{
        margin: 0 auto;
        width: 335px;
    }
    .bg-salad-girl{
        margin: 0 auto;
        margin-top: 40px;
        background-image: url(../images/bg_dots_s4_mob.png);
    }
}
@media screen and (min-width: 768px) and (max-width: 1279px){
    .salad-girl-img{
        margin: 0 auto;
        /* height: 446px; */
        margin-top: -17px;
        /* content: url(./images/s4_girl_tab.webp); */
    }
    .section-recall-container{
        padding-bottom: 173px;
        /* max-width: 768px; */
    }
    .p-section-five{
        line-height: 24px;
        letter-spacing: -0.72px;
        text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
        font-size: 18px;
        width: 499px;
        margin: 0 auto;
    }
    .h3-section-five{
        margin: 0 auto;
        width: 524px;
        font-size: 40px;
        line-height: 44px;
        letter-spacing: -1.6px;
        text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    }
    .input-phone-form{
        width: 350px;
    }
    .bg-salad-girl{
        max-width: 704px;
        height: 463px;
        margin: 0 auto;
        margin-top: 80px;
        background-image: url(../images/bg_dots_s4_tab.png);
    }
    .recall-form{
        margin: 0 auto;
        width: 350px;
    }
    .recall-button{
        margin-right: -20px;
    }
}
@media screen and (min-width: 1280px){
    .section-recall-container{
        /* max-width: 1280px; */
        padding-bottom: 124px;
    }
    .p-section-five{
        line-height: 24px;
        letter-spacing: -0.72px;
        text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
        font-size: 18px;
        width: 523px;
        text-align: left;
    }
    .h3-section-five{
        width: 614px;
        font-size: 48px;
        line-height: 50px;
        letter-spacing: -1.92px;
        text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
        text-align: left;
        margin-top: 150px;
    }
    .bg-salad-girl{
        max-width: 525px;
        height: 536px;
        margin-left: auto;
        margin-top: -430px;
        background-image: url(../images/bg_dots_s4_desktop.png);
    }
    .salad-girl-img{
        /* width: 490px; */
        /* height: 499px; */
        margin: 0 auto;
        /* content: url(./images/s4_girl_desktop.webp); */
    }
    .phone-send{
        width: 523px;
    }
    .input-phone-form{
        width: 355px;
    }
    .recall-button{
        left: 250px;
    }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .bg-salad-girl {
    background-image: url('../images/bg_dots_s4_desktop@2x.png');
    background-image: url('../images/bg_dots_s4_mob@2x.png');
    background-image: url('../images/bg_dots_s4_tab@2x.png');
  }
} 
